@import 'variables';

//------------------------------
// Default styles
//------------------------------
body{
	background-color: $main-bg-color;
	font-family: Roboto;
}

a{
	font-style: italic;
	font-weight: 100;
	letter-spacing: 1px;
}
