//------------------------------
// Variables
//------------------------------
.u-center{
	text-align: center;
}

.u-margin-center{
	margin: 0 auto;
}

.u-clear-fix{
	clear: both;
}

.u-absolute-center{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	margin: auto;
}

.u-full-width{
	width: 100%;
}

.u-header{
	font-style: italic;
	font-weight: 100;
	letter-spacing: 1px;
}
//------------------------------
// Colour Variables
//------------------------------
$main-text-color: #000;
$main-bg-color: #FFF;

$medium-color: #00AB6C;
$medium-color-1: #01A161;
$medium-color-2: #15C05C;
$medium-color-3: #10DF65;
$medium-color-4: #2DFB82;
$twitter-color: #55ACEE;
$instagram-color: #A77D63;

//------------------------------
// URLS Variables
//------------------------------
$img: '../img';
