/* RESET */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

ul > li {
	display: inline-block; }

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; }

body {
	margin: 0;
	font: 16px/1 sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased; 
	color: #fff; 
	font-family: 'Source Sans Pro', sans-serif;  }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
	margin: 0;
	padding: 0; }

main,
li {
	display: block; }

h1 {
	font-size: 2rem; }

h2 {
	font-size: 1.5rem; }

h3 {
	font-size: 1.17rem; }

h4 {
	font-size: 1rem; }

h5 {
	font-size: 0.83rem; }

h6 {
	font-size: 0.67rem; }

strong {
	font-weight: bold; }

a,
button {
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: inherit; }

a {
	text-decoration: none; }

button {
	border: none;
	background: none;
	font: inherit;
	letter-spacing: inherit;
	cursor: pointer;
	overflow: visible;
	-webkit-font-smoothing: inherit; }

::-moz-focus-inner {
	padding: 0;
	border: none; }

:focus {
	outline: 0; }

img {
	max-width: 100%;
	height: auto;
	border: none; }

/* Portfolio CSS */

.home {
    margin-top: 160px;
	margin-left: 160px;
    max-width: 1320px;}

.header{
	font-size: 80px; 
	text-align: left;
	font-weight: bold;
}
body{
	background-color: #000;
}
p{
	font-size: 48px;
	text-align: left;
}

.iron{
	color: #32c3ff;
}

.medium{
	color: #01A161;
}

.instagram{
	color: #A77D63;
}

.twitter{
	color: #55ACEE;
}
.header{
	margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
	.home {
			margin: 80px 32px;
		} 
		.header{
			font-size: 32px; 
		} 
		p{
			font-size: 20px;
			font-weight: 300;
		text-align: left;
		}
}

/* Spotify */

.spotify{
	margin-top: 160px;
	margin-left: 160px;
}
.spotify img{
	border-radius: 6px;
	width: 480px;
	height: 480px;
	margin: 24px;
	transition: all 0.1s ease-in-out;	
}
.spotify img:hover{
	transform: scale(1.02);
}
.spotify .images{
	margin-top: 64px;
}
.spotify h1{
	color: #fff;
	font-size: 80px; 
	text-align: left;
	font-weight: bold;
}