* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul > li {
  display: inline-block;
}
.center {
  text-align: center;
}
.margin-center {
  margin: 0 auto;
}
/* Default text style */
body {
  font-family: 'Roboto';
  background-color: #FFF;
}
a,
.default-header {
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1px;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(20px);
  }
  60% {
    -webkit-transform: translateY(10px);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(20px);
  }
  60% {
    -moz-transform: translateY(10px);
  }
}
@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(20px);
  }
  60% {
    -o-transform: translateY(10px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(10px);
  }
}
.header {
  height: 62px;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  background-color: #FFF;
}
.header_link {
  color: #414141;
  font-size: 18px;
}
.header ul {
  float: right;
  display: inline-block;
}
.header li:not(:last-child) {
  margin-right: 30px;
}
.home {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
}
.home-header {
  font-size: 48px;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
}
.home-sub-header {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1px;
}
.full-center {
  max-width: 480px;
  height: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.arrow {
  position: absolute;
  bottom: 40px;
  margin-left: -44px;
  left: 50%;
  cursor: pointer;
}
.arrow-down {
  fill: #5a5a5a;
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  width: 22px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
.arrow a {
  cursor: pointer;
  color: #5a5a5a;
}
.arrow a:hover {
  color: #000;
}
.arrow a:hover .arrow-down {
  fill: #000;
}
.project-section {
  margin-bottom: 200px;
  padding-top: 62px;
  text-align: center;
}
.project-section-header {
  font-style: normal;
  padding: 10px 0;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1px;
}
.project-section-sub-header {
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1px;
}
.img-container {
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
}
.img-container__img {
  width: 100%;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.5);
}
.footer {
  padding: 100px 0;
  background-color: #000;
}
.footer__header {
  text-align: center;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 1px;
  color: #b4b4b4;
  margin-bottom: 25px;
}
.social {
  max-width: 266px;
  margin: 0 auto;
}
.social-icon {
  margin-right: 40px;
}
.social-icon:last-child {
  margin-right: 0;
}
.social-icon_twitter svg path:hover,
.social-icon_twitter svg path:focus {
  fill: #55acee;
}
.social-icon_instagram:hover svg path,
.social-icon_instagram:focus svg path {
  fill: #a77d63;
}
.social-icon_github:hover svg path,
.social-icon_github:focus svg path {
  fill: #FFF;
}
.social-icon_medium:hover .shape-1,
.social-icon_medium:focus .shape-1 {
  fill: #2DFB82;
}
.social-icon_medium:hover .shape-2,
.social-icon_medium:focus .shape-2 {
  fill: #10DF65;
}
.social-icon_medium:hover .shape-3,
.social-icon_medium:focus .shape-3 {
  fill: #15C05C;
}
.social-icon_medium:hover .shape-4,
.social-icon_medium:focus .shape-4 {
  fill: #01A161;
}
/* //FOOTER */
