//------------------------------
// Header/Navbar
//------------------------------
.header{
	position: fixed;
	width: 100%;

	background-color: $main-bg-color;

	z-index: 4;

	& .nav{
		padding: 20px 40px;

		&_right_position{
			float: right;
		}

		&__item{
			@media screen and (max-width: 680px){
				padding: 5px 0;
			}
			@media screen and (min-width: 680px){
				margin-right: 30px;
			}
		}

		&__item:nth-child(3){
			margin-right: 0px;
		}
		&__link{
			color: #414141;
			font-size: 18px;
		}
	}
	& .icon {
		display: none;

		font-style: normal;
	}
}

@media screen and (max-width: 680px) {

	.header .nav_right_position{
		float: none;
	}

	.nav__item{
		display: block;
	}

	.header .icon {
		display: inline-block;
		float: right;
    }

	.nav_right_position{
		display: none;
		width: 100%;
		animation: fadeOff 500ms ease-in-out;
	}
}


// Responsive media queries
@media screen and (max-width: 680px) {
  	.header .responsive {
		position: relative;
		padding: 20px 40px 0;
    }

	.responsive li.icon {
		position: absolute;
		top: 0;
		right: 0;
  	}

	.responsive ul{
		display: block;

		padding: 5px 0;

		animation: fadeInFromNone 500ms ease-in-out;
	}

	.responsive li {

		margin: 0;
		float: none;
  	}
	.responsive li a {
	    display: block;
	    text-align: center;
  	}
}
