//------------------------------
// Default styles
//------------------------------
@import 'variables';

/* Default text style */
body{
	font-family: 'Roboto';
	background-color: @main-bg-color;
}
a,
.default-header{
	font-weight: 100;
	font-style: italic;
	letter-spacing: 1px;
}
