//----------//
// Styles
//----------//
//------------------------------
// Imports
//------------------------------
@import "reset";
@import "default";
@import "animations";

//------------------------------
// Header/Navbar
//------------------------------
.header{
	height: 62px;
	padding: 20px 40px;
	position: fixed;
	width: 100%;
	background-color: @main-bg-color;

	& .nav{
		&_right{
			float: right;
		}
		&__item:not(:last-child){
			margin-right: 30px;
		}
		&__link{
			color: #414141;
			font-size: 18px;
		}
	}
}
//------------------------------
// Home
//------------------------------
.home{
	width: 100vw;
	height: 100vh;
	background-color: @main-bg-color;

	&-center{
		max-width: 480px;
	    height: 120px;

	    position: absolute;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    margin: auto;

		&__header{
			font-size: 48px;
			.default-header;
			.center;
		}
		&__sub-header{
			margin-top: 30px;
			font-size: 24px;
			.default-header;
		}
	}
}
.arrow{
	position: absolute;
    bottom: 40px;
    margin-left: -44px;
    left: 50%;
    cursor: pointer;

	&__svg{
		fill: #5a5a5a;
		padding-top: 10px;
		display: block;
		.margin-center;
		width: 22px;
		animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		-moz-animation: bounce 2s infinite;
		-o-animation: bounce 2s infinite;
	}
	// It's down because it has to have more specifity
	&__link{
		cursor: pointer;
		color: #5a5a5a;

		&:hover{
			color: @main-text-color;

			& svg{
				fill: @main-text-color;
			}
		}
	}
}
//------------------------------
// Projects section
//------------------------------
.project-section{
	margin-bottom: 200px;
	padding-top: 62px;
	.center;

 	&__header{
		font-style: normal;
		padding: 10px 0;
		.default-header;
	}
	&__sub-header{
		.default-header;
	}
}
.img-container{
	padding-top: 50px;
	width: 90%;
	margin: 0 auto;

	&__img{
		width: 100%;
		box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.50);
	}
}
//------------------------------
// Footer
//------------------------------
.footer{
	padding: 100px 0;
	background-color: @main-text-color;

	&__header{
		.center;
		.default-header;
		color: #b4b4b4;
		margin-bottom: 25px;
	}

}
.social{
	max-width: 266px;
	.margin-center;

	&__icon{
		margin-right: 40px;

		&:last-child{
			margin-right: 0;
		}
		// Modifiers
		&_twitter svg path{
			&:hover,
			&:focus{
				fill: @twitter-color;
			}
		}
		&_instagram:hover,
		&_instagram:focus{
			& svg path{
				fill: @instagram-color;
			}
		}
		&_github:hover,
		&_github:focus{
			& svg path{
				fill: @main-bg-color;
			}
		}
		&_medium{
			&:hover,
			&:focus{
				.shape{
					&-1{
						fill: @medium-color-4;
					}
					&-2{
						fill: @medium-color-3;
					}
					&-3{
						fill: @medium-color-2;
					}
					&-4{
						fill: @medium-color-1;
					}
				}
			}
		}
	}
}
